<html>

<head>
<meta http-equiv="Content-Language" content="tr">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1254">
<title>META-PIPE REPORT</title>
</head>

<body>

<p align="center"><font size="5"><b>META-PIPE REPORT</b></font></p>
<p align="left">&nbsp;</p>
<p align="left">Plotting was done based on your taxonomic level choice (!LEVEL!) 
and those are below your threshold (!THOLD!) is excluded. </p>
<p align="left">Kraken found len_kraken, Centrifuge len_centrifuge !LEVEL! while 
Clark found len_clark.</p>
<p align="left">You can see the plot below, if there is a !LEVEL! not found in a 
tool it does not necessearly mean that the tool failed to get a hit, simply you 
might fail to see it on the plot due to lower percentage than your !THOLD!</p>
<p align="left">
<img border="0" src="bar_grouped.png" width="1325" height="669"></p>
<p align="left">&nbsp;</p>
<p align="left">&nbsp;</p>

</body>
<object width="1035" height="374" type="text/plain" data="dataframe.txt" border="0" >
</object>
</html>
